doctype html
html.h-100(lang="en")
  head
    title= Title
    script(src="https://kit.fontawesome.com/d3b9396c5b.js", crossorigin="anonymous")
    script.
      var gon = !{JSON.stringify(gon)};
  body
    #chat
      // block content
    script(src=assetPath('main.js'))
